# Bonus: Temperature Analysis I

In [60]:
import pandas as pd
import matplotlib.pyplot as plt
# import scipy.stats as st
import numpy as np
from datetime import datetime as dt

In [61]:
# "tobs" is "temperature observations"
df = pd.read_csv("Resources/hawaii_measurements.csv")
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [62]:
df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [63]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [64]:
# Set the date column as the DataFrame index
df.set_index("date", inplace=True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [65]:
# Drop the date column
df['day'] = df.index.day
df['month'] = df.index.month
df['year'] = df.index.year

In [66]:
df.head()

                station  prcp  tobs  day  month  year
date
2010-01-01  USC00519397  0.08    65    1      1  2010
2010-01-02  USC00519397  0.00    63    2      1  2010
2010-01-03  USC00519397  0.00    74    3      1  2010
2010-01-04  USC00519397  0.00    76    4      1  2010
2010-01-06  USC00519397   NaN    73    6      1  2010

In [67]:
df.reset_index(drop=True, inplace=True)
df.head()

       station  prcp  tobs  day  month  year
0  USC00519397  0.08    65    1      1  2010
1  USC00519397  0.00    63    2      1  2010
2  USC00519397  0.00    74    3      1  2010
3  USC00519397  0.00    76    4      1  2010
4  USC00519397   NaN    73    6      1  2010

### Compare June and December data across all years

In [68]:
from scipy import stats

In [83]:
df_station = df.loc[:, ["station", "tobs", "month"]]
df_station.head()

       station  tobs  month
0  USC00519397    65      1
1  USC00519397    63      1
2  USC00519397    74      1
3  USC00519397    76      1
4  USC00519397    73      1

In [170]:
df_june1 = df_station.loc[(df_station["month"]==6)]
df_june1

           station  tobs  month
133    USC00519397    78      6
134    USC00519397    76      6
135    USC00519397    78      6
136    USC00519397    76      6
137    USC00519397    77      6
...            ...   ...    ...
19492  USC00516128    79      6
19493  USC00516128    74      6
19494  USC00516128    74      6
19495  USC00516128    76      6
19496  USC00516128    75      6

[1700 rows x 3 columns]

In [171]:
#Check - grouping by station to get mean temp values per station
df_june_grp = df_june1.groupby('station')['tobs'].mean()
# df_grp_month = df_station.groupby('month').mean()
# # df_stat_grp.head(5)
# df_stat_grp.head(10)
df_june_grp.head(10)

station
USC00511918    74.139394
USC00513117    74.050847
USC00514830    76.005376
USC00516128    71.937220
USC00517948    76.655405
USC00518838    73.394737
USC00519281    73.271186
USC00519397    77.559322
USC00519523    76.668103
Name: tobs, dtype: float64

In [172]:
df_dec1 = df_station.loc[(df_station["month"]==12)]
df_dec1

           station  tobs  month
305    USC00519397    76     12
306    USC00519397    74     12
307    USC00519397    74     12
308    USC00519397    64     12
309    USC00519397    64     12
...            ...   ...    ...
19323  USC00516128    71     12
19324  USC00516128    71     12
19325  USC00516128    69     12
19326  USC00516128    65     12
19327  USC00516128    65     12

[1517 rows x 3 columns]

In [173]:
df_dec_grp = df_dec1.groupby('station')['tobs'].mean()
df_dec_grp

station
USC00511918    69.684211
USC00513117    71.069444
USC00514830    73.224719
USC00516128    69.291262
USC00517948    71.834862
USC00518838    72.421053
USC00519281    69.903226
USC00519397    71.109524
USC00519523    72.433333
Name: tobs, dtype: float64

In [169]:
df_stat_grp1 = df_station.groupby('station')['month'].unique()
df_stat_grp1.head()

station
USC00511918    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
USC00513117    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
USC00514830    [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2]
USC00516128    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
USC00517948    [5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4]
Name: month, dtype: object

In [174]:
# df_june1 = df_stat_grp["month"== 6]

In [140]:
# Filter data for desired months
df_june = df.loc[:, ["tobs", "month"]]
df_june1 = df_june.loc[(df_june["month"]==6)]
df_june1.head(5)

     tobs  month
133    78      6
134    76      6
135    78      6
136    76      6
137    77      6

In [141]:
df_dec= df_june.loc[(df_june["month"]==12)]

df_dec.head(5)

     tobs  month
305    76     12
306    74     12
307    74     12
308    64     12
309    64     12

In [114]:
tobs_dec_list = df_dec["tobs"].tolist()
tobs_dec_list

[76,
 74,
 74,
 64,
 64,
 67,
 77,
 66,
 69,
 68,
 68,
 71,
 74,
 67,
 66,
 69,
 71,
 70,
 70,
 74,
 74,
 71,
 75,
 75,
 72,
 69,
 68,
 73,
 74,
 73,
 73,
 73,
 73,
 71,
 73,
 73,
 77,
 72,
 71,
 73,
 70,
 73,
 69,
 74,
 72,
 71,
 72,
 72,
 70,
 73,
 73,
 72,
 73,
 73,
 72,
 63,
 65,
 71,
 76,
 70,
 76,
 69,
 69,
 69,
 74,
 76,
 74,
 73,
 73,
 74,
 73,
 73,
 73,
 74,
 74,
 71,
 73,
 72,
 64,
 66,
 73,
 72,
 65,
 64,
 69,
 68,
 77,
 71,
 71,
 69,
 68,
 68,
 69,
 70,
 72,
 76,
 75,
 69,
 71,
 71,
 71,
 68,
 65,
 70,
 69,
 69,
 71,
 67,
 73,
 74,
 73,
 67,
 74,
 75,
 75,
 74,
 67,
 73,
 73,
 71,
 72,
 71,
 68,
 65,
 69,
 70,
 70,
 74,
 71,
 74,
 73,
 72,
 74,
 72,
 74,
 75,
 74,
 70,
 74,
 70,
 66,
 61,
 63,
 63,
 63,
 63,
 67,
 56,
 75,
 77,
 75,
 75,
 75,
 75,
 71,
 70,
 74,
 74,
 75,
 72,
 70,
 66,
 74,
 75,
 74,
 75,
 76,
 74,
 75,
 74,
 73,
 68,
 73,
 74,
 74,
 77,
 70,
 70,
 69,
 75,
 72,
 69,
 71,
 68,
 67,
 69,
 73,
 70,
 70,
 70,
 66,
 67,
 70,
 66,
 62,
 71,
 73,
 69,
 77,
 74,
 71,
 72,
 74,
 74,
 74,
 74,
 71,
 73,
 69,
 66,
 73,
 72,
 73,
 74,
 73,
 66,
 64,
 66,
 75,
 65,
 69,
 71,
 69,
 78,
 74,
 68,
 68,
 70,
 70,
 71,
 71,
 71,
 71,
 69,
 69,
 72,
 76,
 72,
 73,
 73,
 74,
 69,
 68,
 74,
 73,
 73,
 72,
 71,
 71,
 68,
 72,
 71,
 72,
 71,
 71,
 72,
 71,
 71,
 72,
 72,
 72,
 69,
 71,
 71,
 69,
 74,
 72,
 71,
 71,
 72,
 71,
 67,
 65,
 70,
 76,
 68,
 71,
 71,
 68,
 70,
 73,
 73,
 72,
 71,
 70,
 72,
 71,
 72,
 72,
 71,
 70,
 71,
 71,
 71,
 66,
 65,
 73,
 72,
 72,
 65,
 65,
 68,
 67,
 76,
 70,
 71,
 69,
 67,
 69,
 71,
 69,
 72,
 76,
 75,
 72,
 75,
 71,
 69,
 68,
 68,
 72,
 70,
 72,
 75,
 69,
 72,
 73,
 73,
 72,
 73,
 74,
 73,
 72,
 68,
 72,
 71,
 69,
 67,
 70,
 72,
 67,
 67,
 69,
 67,
 74,
 70,
 73,
 71,
 71,
 71,
 71,
 72,
 76,
 78,
 76,
 73,
 70,
 68,
 77,
 66,
 65,
 69,
 69,
 66,
 64,
 74,
 75,
 80,
 72,
 73,
 70,
 69,
 77,
 74,
 77,
 72,
 69,
 69,
 75,
 75,
 72,
 73,
 78,
 75,
 75,
 74,
 73,
 70,
 70,
 72,
 74,
 74,
 67,
 74,
 70,
 73,
 71,
 71,
 69,
 68,
 70,
 71,
 72,
 70,
 71,
 72,
 68,
 68,
 70,
 70,
 63,
 71,
 67,
 69,
 74,
 72,
 70,
 69,
 73,
 74,
 74,
 73,
 71,
 72,
 69,
 71,
 73,
 73,
 71,
 72,
 71,
 64,
 71,
 62,
 70,
 64,
 64,
 70,
 70,
 69,
 72,
 68,
 68,
 65,
 67,
 68,
 70,
 67,
 73,
 70,
 68,
 72,
 69,
 71,
 70,
 75,
 70,
 68,
 73,
 71,
 71,
 70,
 70,
 70,
 70,
 72,
 74,
 71,
 70,
 70,
 69,
 71,
 70,
 70,
 72,
 72,
 72,
 72,
 72,
 70,
 66,
 71,
 68,
 79,
 76,
 73,
 75,
 71,
 76,
 74,
 73,
 73,
 74,
 73,
 72,
 76,
 75,
 77,
 74,
 76,
 75,
 76,
 73,
 75,
 73,
 73,
 74,
 78,
 78,
 78,
 75,
 75,
 75,
 74,
 77,
 72,
 72,
 73,
 71,
 75,
 76,
 74,
 75,
 74,
 75,
 73,
 72,
 72,
 75,
 74,
 74,
 72,
 73,
 70,
 76,
 78,
 76,
 78,
 74,
 71,
 78,
 70,
 74,
 74,
 75,
 76,
 78,
 72,
 73,
 76,
 72,
 72,
 78,
 76,
 76,
 77,
 79,
 73,
 79,
 77,
 78,
 76,
 78,
 77,
 79,
 75,
 77,
 76,
 78,
 78,
 77,
 78,
 78,
 76,
 75,
 72,
 75,
 77,
 75,
 77,
 76,
 76,
 75,
 72,
 76,
 75,
 72,
 72,
 75,
 69,
 75,
 74,
 78,
 77,
 76,
 72,
 73,
 74,
 74,
 74,
 73,
 73,
 71,
 72,
 72,
 75,
 66,
 66,
 67,
 76,
 68,
 69,
 71,
 70,
 68,
 66,
 69,
 69,
 71,
 72,
 69,
 72,
 70,
 76,
 69,
 71,
 72,
 71,
 78,
 73,
 74,
 68,
 71,
 76,
 75,
 74,
 73,
 73,
 74,
 69,
 74,
 72,
 70,
 67,
 69,
 73,
 75,
 74,
 72,
 71,
 67,
 74,
 70,
 70,
 70,
 71,
 70,
 71,
 71,
 68,
 74,
 75,
 74,
 77,
 76,
 77,
 75,
 76,
 75,
 77,
 75,
 77,
 74,
 78,
 77,
 76,
 69,
 70,
 64,
 75,
 69,
 65,
 76,
 81,
 71,
 71,
 71,
 82,
 74,
 75,
 77,
 74,
 68,
 72,
 70,
 68,
 74,
 71,
 70,
 70,
 70,
 68,
 68,
 68,
 66,
 71,
 76,
 73,
 70,
 68,
 71,
 71,
 68,
 71,
 70,
 73,
 78,
 76,
 73,
 74,
 63,
 72,
 75,
 74,
 72,
 68,
 74,
 73,
 73,
 72,
 73,
 72,
 78,
 74,
 74,
 78,
 78,
 61,
 69,
 65,
 77,
 67,
 69,
 75,
 67,
 71,
 74,
 66,
 66,
 77,
 70,
 73,
 71,
 71,
 71,
 67,
 71,
 74,
 76,
 72,
 74,
 75,
 69,
 69,
 69,
 75,
 73,
 73,
 72,
 72,
 72,
 74,
 72,
 73,
 73,
 73,
 73,
 74,
 73,
 71,
 72,
 73,
 74,
 72,
 73,
 73,
 71,
 73,
 75,
 71,
 72,
 73,
 71,
 65,
 77,
 72,
 78,
 71,
 72,
 71,
 72,
 76,
 75,
 75,
 76,
 73,
 72,
 74,
 74,
 74,
 73,
 77,
 73,
 70,
 72,
 76,
 65,
 74,
 73,
 77,
 76,
 69,
 78,
 76,
 68,
 76,
 68,
 79,
 69,
 64,
 70,
 69,
 73,
 70,
 74,
 76,
 76,
 69,
 73,
 73,
 65,
 70,
 72,
 72,
 75,
 74,
 69,
 73,
 75,
 76,
 74,
 73,
 74,
 71,
 72,
 73,
 72,
 72,
 73,
 72,
 75,
 76,
 67,
 69,
 70,
 75,
 74,
 71,
 74,
 71,
 72,
 74,
 75,
 73,
 75,
 76,
 68,
 71,
 68,
 66,
 63,
 62,
 67,
 68,
 63,
 56,
 76,
 75,
 74,
 76,
 69,
 71,
 72,
 74,
 75,
 72,
 78,
 69,
 75,
 75,
 74,
 74,
 76,
 73,
 75,
 75,
 74,
 79,
 75,
 76,
 76,
 69,
 72,
 76,
 75,
 75,
 75,
 70,
 70,
 74,
 73,
 72,
 78,
 67,
 69,
 71,
 74,
 63,
 76,
 76,
 71,
 76,
 77,
 73,
 71,
 78,
 78,
 75,
 75,
 72,
 77,
 72,
 72,
 71,
 72,
 74,
 66,
 61,
 58,
 60,
 71,
 65,
 72,
 70,
 68,
 67,
 71,
 65,
 64,
 65,
 69,
 70,
 70,
 68,
 69,
 71,
 70,
 71,
 76,
 71,
 72,
 73,
 77,
 67,
 69,
 72,
 74,
 71,
 70,
 68,
 70,
 66,
 72,
 70,
 70,
 70,
 70,
 73,
 71,
 69,
 73,
 72,
 71,
 69,
 70,
 69,
 70,
 75,
 71,
 70,
 ...]

In [115]:

tobs_june_list = df_june1["tobs"].tolist()
tobs_june_list

[78,
 76,
 78,
 76,
 77,
 78,
 77,
 78,
 78,
 79,
 78,
 78,
 78,
 77,
 78,
 78,
 77,
 77,
 82,
 78,
 78,
 78,
 78,
 78,
 77,
 76,
 78,
 78,
 78,
 78,
 77,
 78,
 73,
 70,
 76,
 77,
 77,
 77,
 77,
 78,
 77,
 77,
 78,
 78,
 77,
 78,
 78,
 75,
 76,
 76,
 77,
 78,
 76,
 77,
 75,
 77,
 76,
 76,
 75,
 77,
 77,
 76,
 78,
 77,
 76,
 77,
 76,
 76,
 77,
 77,
 78,
 77,
 77,
 77,
 76,
 75,
 76,
 76,
 77,
 76,
 73,
 73,
 75,
 77,
 76,
 77,
 79,
 78,
 79,
 78,
 78,
 79,
 77,
 77,
 77,
 77,
 77,
 78,
 77,
 76,
 78,
 78,
 77,
 78,
 78,
 73,
 76,
 77,
 75,
 76,
 74,
 75,
 77,
 76,
 77,
 78,
 79,
 77,
 78,
 79,
 78,
 78,
 78,
 78,
 79,
 79,
 82,
 80,
 79,
 79,
 78,
 78,
 77,
 78,
 78,
 73,
 75,
 75,
 76,
 84,
 79,
 76,
 79,
 79,
 77,
 79,
 78,
 78,
 79,
 77,
 79,
 78,
 78,
 78,
 79,
 77,
 78,
 78,
 78,
 78,
 79,
 79,
 77,
 78,
 78,
 78,
 79,
 79,
 77,
 79,
 79,
 79,
 81,
 76,
 80,
 78,
 76,
 71,
 71,
 74,
 76,
 78,
 77,
 77,
 73,
 77,
 78,
 78,
 80,
 79,
 78,
 77,
 76,
 77,
 77,
 78,
 80,
 79,
 79,
 77,
 78,
 79,
 80,
 76,
 79,
 80,
 79,
 79,
 79,
 79,
 80,
 79,
 79,
 80,
 80,
 77,
 79,
 83,
 80,
 80,
 78,
 79,
 80,
 77,
 80,
 78,
 79,
 80,
 78,
 80,
 80,
 81,
 80,
 79,
 79,
 75,
 74,
 76,
 75,
 75,
 74,
 75,
 75,
 75,
 75,
 75,
 83,
 75,
 76,
 73,
 74,
 74,
 75,
 70,
 74,
 75,
 75,
 75,
 75,
 75,
 74,
 72,
 76,
 73,
 75,
 76,
 74,
 75,
 71,
 69,
 69,
 74,
 71,
 74,
 74,
 75,
 73,
 73,
 73,
 75,
 75,
 74,
 74,
 75,
 74,
 73,
 72,
 74,
 72,
 75,
 76,
 74,
 74,
 74,
 74,
 74,
 71,
 71,
 75,
 72,
 72,
 73,
 73,
 73,
 74,
 73,
 72,
 72,
 70,
 72,
 72,
 72,
 74,
 73,
 73,
 70,
 73,
 72,
 73,
 69,
 72,
 71,
 71,
 73,
 73,
 72,
 75,
 75,
 75,
 75,
 74,
 74,
 74,
 75,
 75,
 74,
 75,
 75,
 74,
 72,
 74,
 74,
 74,
 74,
 74,
 72,
 70,
 75,
 74,
 71,
 71,
 70,
 73,
 71,
 71,
 77,
 77,
 74,
 73,
 75,
 75,
 74,
 74,
 75,
 75,
 72,
 74,
 76,
 76,
 75,
 75,
 74,
 72,
 74,
 75,
 70,
 71,
 72,
 71,
 73,
 74,
 72,
 74,
 76,
 72,
 75,
 75,
 72,
 70,
 76,
 78,
 72,
 74,
 74,
 72,
 71,
 79,
 79,
 76,
 75,
 72,
 74,
 76,
 76,
 77,
 75,
 76,
 75,
 75,
 76,
 76,
 74,
 70,
 69,
 70,
 68,
 70,
 74,
 75,
 74,
 71,
 73,
 75,
 74,
 76,
 76,
 76,
 76,
 75,
 75,
 75,
 74,
 73,
 76,
 74,
 78,
 71,
 75,
 75,
 74,
 77,
 77,
 76,
 76,
 76,
 78,
 76,
 75,
 75,
 76,
 78,
 75,
 73,
 76,
 76,
 76,
 77,
 76,
 77,
 72,
 77,
 75,
 82,
 77,
 76,
 74,
 73,
 77,
 77,
 77,
 76,
 74,
 73,
 72,
 74,
 73,
 72,
 75,
 74,
 75,
 73,
 75,
 76,
 74,
 74,
 73,
 73,
 76,
 75,
 70,
 75,
 73,
 74,
 74,
 74,
 74,
 70,
 75,
 74,
 73,
 74,
 72,
 73,
 67,
 69,
 76,
 73,
 70,
 72,
 74,
 72,
 72,
 75,
 73,
 73,
 72,
 74,
 76,
 72,
 74,
 70,
 74,
 74,
 74,
 71,
 75,
 75,
 76,
 77,
 75,
 74,
 75,
 76,
 78,
 78,
 76,
 78,
 76,
 76,
 78,
 79,
 77,
 76,
 77,
 77,
 76,
 78,
 76,
 76,
 77,
 71,
 74,
 72,
 77,
 77,
 78,
 77,
 77,
 76,
 75,
 79,
 75,
 73,
 76,
 78,
 77,
 78,
 76,
 75,
 76,
 77,
 74,
 78,
 77,
 77,
 74,
 74,
 78,
 79,
 79,
 78,
 75,
 76,
 78,
 78,
 74,
 78,
 77,
 76,
 78,
 78,
 78,
 78,
 74,
 79,
 77,
 73,
 79,
 79,
 78,
 77,
 78,
 78,
 80,
 80,
 79,
 74,
 71,
 74,
 75,
 75,
 74,
 76,
 75,
 77,
 77,
 79,
 79,
 78,
 79,
 73,
 78,
 79,
 80,
 76,
 79,
 79,
 77,
 80,
 79,
 78,
 78,
 79,
 78,
 81,
 78,
 80,
 79,
 81,
 80,
 81,
 79,
 81,
 78,
 79,
 79,
 75,
 79,
 78,
 80,
 78,
 77,
 78,
 79,
 76,
 80,
 76,
 81,
 77,
 76,
 77,
 75,
 76,
 79,
 79,
 77,
 76,
 77,
 76,
 73,
 76,
 77,
 77,
 78,
 77,
 76,
 78,
 78,
 75,
 77,
 65,
 76,
 74,
 76,
 76,
 77,
 77,
 76,
 77,
 76,
 77,
 74,
 76,
 73,
 75,
 76,
 75,
 76,
 75,
 74,
 74,
 74,
 74,
 76,
 76,
 77,
 77,
 78,
 73,
 75,
 72,
 76,
 76,
 73,
 74,
 72,
 76,
 76,
 76,
 78,
 78,
 78,
 78,
 75,
 77,
 73,
 78,
 75,
 73,
 77,
 80,
 70,
 78,
 72,
 78,
 72,
 78,
 77,
 79,
 77,
 78,
 74,
 79,
 79,
 79,
 79,
 77,
 79,
 78,
 80,
 81,
 81,
 78,
 77,
 78,
 79,
 77,
 79,
 80,
 79,
 78,
 79,
 79,
 79,
 81,
 64,
 65,
 75,
 76,
 78,
 77,
 75,
 78,
 81,
 78,
 76,
 73,
 74,
 76,
 78,
 79,
 78,
 72,
 78,
 80,
 81,
 79,
 78,
 80,
 80,
 78,
 80,
 81,
 78,
 77,
 78,
 78,
 77,
 76,
 81,
 76,
 82,
 80,
 80,
 79,
 74,
 69,
 70,
 67,
 70,
 73,
 73,
 72,
 72,
 77,
 70,
 78,
 73,
 75,
 70,
 74,
 77,
 69,
 73,
 73,
 74,
 73,
 72,
 75,
 73,
 76,
 74,
 76,
 73,
 76,
 76,
 78,
 75,
 77,
 75,
 73,
 76,
 71,
 71,
 76,
 76,
 76,
 73,
 78,
 77,
 77,
 77,
 78,
 78,
 76,
 76,
 79,
 74,
 75,
 76,
 75,
 73,
 76,
 78,
 76,
 79,
 77,
 76,
 74,
 75,
 76,
 76,
 76,
 79,
 76,
 72,
 71,
 72,
 76,
 74,
 75,
 76,
 77,
 76,
 75,
 76,
 76,
 76,
 75,
 76,
 76,
 79,
 74,
 73,
 75,
 74,
 75,
 76,
 72,
 74,
 74,
 75,
 75,
 74,
 75,
 77,
 75,
 74,
 75,
 74,
 75,
 73,
 75,
 76,
 76,
 76,
 79,
 74,
 78,
 80,
 75,
 72,
 72,
 74,
 78,
 76,
 77,
 72,
 72,
 73,
 75,
 79,
 81,
 76,
 76,
 77,
 78,
 79,
 79,
 75,
 79,
 79,
 75,
 77,
 81,
 76,
 75,
 78,
 81,
 76,
 76,
 76,
 72,
 73,
 74,
 74,
 75,
 73,
 73,
 76,
 73,
 79,
 78,
 76,
 76,
 76,
 77,
 79,
 80,
 78,
 76,
 78,
 78,
 77,
 79,
 79,
 75,
 76,
 77,
 74,
 77,
 76,
 76,
 75,
 74,
 79,
 76,
 74,
 76,
 77,
 78,
 77,
 75,
 75,
 80,
 77,
 77,
 77,
 80,
 76,
 ...]

In [117]:
# Run paired t-test
# stats.ttest_ind(june_avg, dec_avg, equal_var=False)
stats.ttest_ind(tobs_june_list,tobs_dec_list , equal_var = False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

In [106]:
# Identify the average temperature for June
df_june2 =df_june1.groupby('month').mean()
df_june2

            tobs
month
6      74.944118

In [107]:
# Identify the average temperature for December
df_dec1=df_dec.groupby('month').mean()
df_dec1.head()

            tobs
month
12     71.041529

In [116]:
# Create collections of temperature data

### Analysis